# Dependencies
node_modules/
package-lock.json.bak
bun.lockb.bak

# Expo
.expo/
.expo-shared/
web-build/
dist/

# Native build artifacts & keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
!debug.keystore

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/.cxx/
android/app/.cxx/
android/*.iml
android/app/*.iml
android/app/src/main/assets/index.android.bundle

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/Podfile.lock

# Logs & Metro cache
*.log
.metro-health-check*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & local files
.env
.env.local
.env.*.local
.env*
!.env.example

# Temporary / OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test & Coverage
coverage/
*.lcov
