@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --font-ar: 'Cairo', sans-serif;
    --font-en: 'Outfit', sans-serif;
  }
  
  html[lang='ar'] {
    font-family: var(--font-ar);
  }

  html[lang='en'] {
    font-family: var(--font-en);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
